@{
    ViewBag.Title = "Home Page";
}

<section id="main-slider" class="parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-slider">
                    <ul class="slides">
                        <li>
                            <h2>Welcome to YourAppName</h2>
                            <p><a href="#" class="btn border-white">Sign Up</a></p>
                        </li>
                        <li>
                            <h2>Make Finance Easy</h2>
                            <p><a href="#" class="btn border-white">Get Started</a></p>
                        </li>
                        <li>
                            <h2>Keep Track of Your Money</h2>
                            <p><a href="#" class="btn border-white">Learn More</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divide40"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="purchase-section wow animated fadeInUp">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Narani is Modern, Clean and Responsive Layout</h3>
                        <p>
                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="btn btn-lg btn-theme-bg">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--purchase section-->
<div class="divide80"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft">
                <h4><i class="fa fa-desktop"></i> Responsive Design</h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft">
                <h4><i class="fa fa-image"></i> Parallax Background</h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft">
                <h4><i class="fa fa-keyboard-o"></i> Easy to Customize </h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
    </div><!--row-->
    <div class="divide40"></div>
    <div class="row">
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft">
                <h4><i class="fa fa-thumbs-o-up"></i> 24/7 Dedicated Support</h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft">
                <h4><i class="fa fa-flag"></i> Font Awesome Icons</h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft">
                <h4><i class="fa fa-text-height"></i> Google Fonts </h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
    </div>
</div>


<div class="divide40"></div>

<section class="testimonials parallax" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="testi-carousel" class="owl-carousel owl-spaced">
                    <div>
                        <h4>
                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                        </h4>
                        <p>-Rakesh sharma</p>
                    </div><!--testimonials item like paragraph-->
                    <div>
                        <h4>
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                        </h4>
                        <p>-Rakesh sharma</p>
                    </div><!--testimonials item like paragraph-->
                    <div>
                        <h4>
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                        </h4>
                        <p>-Rakesh sharma</p>
                    </div><!--testimonials item like paragraph-->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-5 margin30">
            <h3 class="heading">Get In Touch</h3>
            <div class="contact-form">
                <form role="form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="email" class="form-control" id="mail" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="6" id="message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-theme-bg">Send Message</button>
                </form><!--form-->
            </div><!--contact-form-->
        </div><!--contact col-->
        <div class="col-md-7 about-us">
            <h3 class="heading">Little About us</h3>
            <img src="/Content/img/team-3.jpg" class="img-responsive" alt="">
            <p class="dropcap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                Suspendisse sit amet erat volutpat, fermentum massa in, faucibus sem.
            </p>
            <p>
                Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus. Curabitur ut nulla a velit feugiat venenatis. Nulla facilisi. Fusce viverra eu libero non euismod. Aenean in orci facilisis, ornare purus sed, lobortis augue. Cras lacinia felis ac elit elementum posuere. Vestibulum in urna metus. Suspendisse sit amet erat volutpat, fermentum massa in, faucibus sem.
            </p>
            <div class="divide30"></div>
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                    Suspendisse sit amet erat volutpat, fermentum massa in, faucibus sem.
                </p>
            </blockquote>

        </div>
    </div>
</div>




